<!-- navbar.html -->
<div class="navbar">
    <button id="menuToggle" aria-label="Toggle Sidebar">☰</button>
    <h1>Fantasia Game</h1>
    <div class="buttons">
        <a href="{% url 'login' %}" class="login-btn">Log In</a>
        <span>or</span>
        <a href="{% url 'register' %}" class="signup-btn">Sign Up</a>
    </div>
</div>

<div class="sidebar" id="sidebar">
    <ul>
        {% if request.user.is_staff %}
        <li><a href="#users">Users</a></li>
        <li><a href="#leagues">Leagues</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#players">Players</a></li>
        <li><a href="#drafts">Drafts</a></li>
        <li><a href="#matches">Matches</a></li>
        <li><a href="#statistics">Player Statistics</a></li>
        <li><a href="#trades">Trades</a></li>
        <li><a href="#waivers">Waivers</a></li>
        {% endif %}
    </ul>
</div>
